Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
Player_Runs = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
Player_Runs.sort(key = lambda x : x[1])

In [3]:
print(Player_Runs)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list(map(lambda x : x**2 , l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
tuple(map(lambda x : str(x) , l2))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [3]:
from functools import reduce

In [4]:
l3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [5]:
reduce(lambda x,y : x+y , l3)

325

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [6]:
l4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [7]:
list(filter(lambda x : x%2 == 0 , l4))

[2, 6, 60, 90, 120, 46]

In [8]:
list(filter(lambda x : x%3 == 0 , l4))

[3, 6, 9, 27, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [1]:
l4 = ['python', 'php', 'aba', 'radar', 'level']

In [4]:
palindromes = list(filter(lambda s : s==s[::-1]  , l4))

In [5]:
print("palindromes",palindromes)

palindromes ['php', 'aba', 'radar', 'level']